input[type=text]{
    border-radius: 4px;
    border: 2px solid transparent;
    margin-right: -15px;
}
span {
    margin-right: 25px;
    top: 5px;
}
.navbar{
    height: 60px;
}
.nav-link{
    margin-top: -5px;
}
.nav-link:hover{
    background: #4e555b;
}
